{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body %}
<table class="table table-hover table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>File-type</th>
            <th>upload-date</th>
            <th>view</th>
        </tr>
        </thead>
        <tbody>
            
            {% for i in file %}
              <tr>
                  <td>{{i.name}} </td>
                  <td>{{i.extension}} </td>
                  <td>{{i.upload_date}}</td>
                  <td>
                    <a href="" class="btn btn-primary btn-sm" href="#" role="button">download</a>
                  </td>
              </tr>
                
            {% endfor %}
                
        </tbody>
</table>
    
{% endblock body %}
    